<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Moments</ion-title>
    <div class="puntos" slot="end">
      <p>100 <img class="coin" src="assets/coin.png"></p> 
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button id="camera" color="success" expand="block" fill="outline" (click)="openCam()">Open My Camera</ion-button>

  <img src="{{image}}">

</ion-content>
<ion-footer>
    <ion-grid>
      <ion-button id="twitter" expand="block" fill="outline" (click)="shareTwitter()" style="background: white">
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        Share on Twitter
      </ion-button>
      <ion-button id="email" expand="block" fill="outline" (click)="shareEmail()">
        <ion-icon slot="start" name="mail"></ion-icon>
        Share by Email
      </ion-button>
      <ion-button id="facebook" expand="block" fill="outline" (click)="shareFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Share on Facebook
      </ion-button>
      <ion-button id="whatsapp" expand="block" fill="outline" (click)="shareWhatsApp()">
        <ion-icon slot="start" name="logo-whatsapp"></ion-icon>
        Share with WhatsApp
      </ion-button>
    </ion-grid>
</ion-footer>
