.letrasBlanca{
    text-emphasis-color: white;
}

.colorBody{
    --background: #81d4fa;  
}

#img{
    width: 60%;
    height: auto;
    margin: auto;
}

#input{
    border-radius: 100px;
}

#card{
    background: white;
}

#botonLogin{
    --background:#66ff66;
}

#salir{
    color: red;
}
